<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
                <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <style type="text/css">
            svg {

                border: solid 1px #aaa;
                background-image: url("{{ url_for('static', filename='soccerGrassField.png') }}");
                height: 680px;
                width: 1050px;
                position: relative;
                left: 50%;
                -webkit-transform: translateX(-50%);
                -ms-transform: translateX(-50%);
                transform: translateX(-50%);
            }

        </style>


    <title>{{ t }}</title>

            <!-- Bootstrap -->
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/css/bootstrap-select.min.css">
                
                <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
                <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
                <!--[if lt IE 9]>
                 <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
                 <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
                 <![endif]-->
    </head>
    <body>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/js/bootstrap-select.min.js"></script>
        <script type="text/javascript" src="http://mbostock.github.com/d3/d3.js"></script>
        
        <script type=text/javascript>$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};</script>
        
        
        
        <div class = "container vertical-center text-center">
        
        <h1>Soccer Engine</h1>
        <script type="text/javascript" src="{{ url_for('static', filename='moveCircles.js') }}"></script>
        
        <div class = "well">
            <p>Interactive User Interface for Anlyzing Soccer Tracking Data.</p>
        </div>

        <!--
        <div id="checks">
            X-axis:<input type="checkbox" id="xChecked" checked/>
            Y-axis:<input type="checkbox" id="yChecked" checked/>
        </div> -->
        
        <!--<input type="range" id="timeScrub" value="0" min="0" max="20000"  onchange="updateTextInput(this.value);" form="gameSelect" style="width:720px;position:fixed;top:770px;left:250px;"/> -->

        
<!--        <input type="range" id="trajLength" value="3" min="1" max="5" style="width:150px;position:fixed;top:770px;left:50px;"/>-->


        <!-- This is the play button -->


        <button type="button" id="playGameBtn" class="btn btn-lg btn-success" style = "width: 300px; height:80px">PLAY</button>


        
        <!-- Show retrieved plays button -->
  
<!--        <button type="button" class="btn btn-lg btn-success" id="predictionBtn">PREDICTION</button>-->

        
        <!-- Get the retrieve button -->

<!--        <button type="button" id="retrieveBtn" class="btn btn-lg btn-success">RETRIEVE</button>-->

        <BR />
  
        <BR />

        <h3>Time Slider:</h3>
        <input type="range" id="timeScrub" value="0" min="0" max="28000" step="1" form="gameSelect"/>
 
        <BR />
        <BR />
        <BR />
        

        <script type="text/javascript">
            
            var pause = true;
            
            $(function() {
              $("#playGameBtn").click(function() {
                    pause = !pause;
                    $("#nextBtn").click();
                    $(this).text(function(i, text){
                            return text === "PLAY" ? "STOP" : "PLAY";
                    })
                    $(this).toggleClass("btn btn-lg btn-warning");
                  });
             });

            $(function() {
              $("#timeScrub").change(function() {
                        // get current time
                        var inTime = $('#timeScrub').val()
                        $.ajax({
                               type: "GET",
                               url: $SCRIPT_ROOT + "/getFrameData/",
                               contentType: "application/json; charset=utf-8",
                               data: { time: inTime},
                               success: function(data) {
                               
                               // we need to remove current players and their trajectories
                               //d3.select("svg").selectAll(".draggableCircleHomeA01").remove();

                               d3.select("svg").selectAll("circle").remove();
                               d3.select("svg").selectAll("Text").remove();
                               // function to replot - this is in the moveCircles js file
                               plotPlayerPos(data)
                               
                               //update the slider with next number
                            
                               var maxValue = document.getElementById("timeScrub");
                               
                               maxValue.val = parseInt(inTime)+1;
                               // playing
                               if (pause == false){
                                   $("#nextBtn").click();
                               }
                               
                               }
                               });
                        });
              });

        $(function() {
            $("#nextBtn").click(function() {
 
                                var t = $('#timeScrub').val();
                                t = +t + 2;
                                $('#timeScrub').val(t);
                                $("#timeScrub").change();
            });
      });

        $(function() {
          $("#retrieveBtn").click(function() {
                                  $.ajax({
                                         type: "POST",
                                         url: $SCRIPT_ROOT + "/retrieveData/",
                                         contentType: "application/json; charset=utf-8",
                                         dataType:"json",
                                         //data: JSON.stringify({ trajLength: $('#trajLength').val(), trajVecHomePG: trajVecHomePG, trajVecHomeSG: trajVecHomeSG, trajVecHomeC: trajVecHomeC, trajVecHomeSF: trajVecHomeSF, trajVecHomePF: trajVecHomePF, trajVecAwayPG: trajVecAwayPG, trajVecAwaySG: trajVecAwaySG, trajVecAwayC: trajVecAwayC, trajVecAwaySF: trajVecAwaySF, trajVecAwayPF: trajVecAwayPF, trajVecBall: trajVecBall }),
                                         success: function(data) {
                                         console.log("Here we will spit back the results");
                                         }
                                         
                                         });
                                  
                                  });
          });
      

            $(function() {
                  $("#predictionBtn").click(function() {
                                  $.ajax({
                                         type: "GET",
                                         url: $SCRIPT_ROOT + "/doPrediction/",
                                         contentType: "application/json; charset=utf-8",
                                         data: { value: "10"},
                                         success: function(data) {
                                         //
                                         console.log("gets to here")
                                         
                                         }
                                         });
                                  });
                  });
        </script>
        <button type="button" id="nextBtn" class="btn btn-lg btn-success" style = "display:none">Next FRAME</button>
        
        </div>

    </body>
    
</html>