<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
                <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <style type="text/css">
            svg {

                border: solid 1px #aaa;
                background-image: url("{{ url_for('static', filename='soccerGrassField.png') }}");
                height: 680px;
                width: 1050px;
                position: relative;
                left: 50%;
                -webkit-transform: translateX(-50%);
                -ms-transform: translateX(-50%);
                transform: translateX(-50%);
            }

        </style>
        
        <script type="text/javascript">
            function initPage() {
                $("#playGameBtn").prop("disabled",true);
            }
        
        </script>


    <title>{{ t }}</title>

            <!-- Bootstrap -->
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/css/bootstrap-select.min.css">
                
                <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
                <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
                <!--[if lt IE 9]>
                 <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
                 <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
                 <![endif]-->
    </head>
    <body onload="initPage();">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.3/js/bootstrap-select.min.js"></script>
        <script type="text/javascript" src="http://mbostock.github.com/d3/d3.js"></script>
        
        <script type=text/javascript>$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};</script>
        
        
        
        <div class = "container vertical-center text-center">
        
        <h1>Soccer Engine</h1>
        <script type="text/javascript" src="{{ url_for('static', filename='moveCircles.js') }}"></script>
        
        <div class = "well">
            <p>Interactive User Interface for Anlyzing Soccer Tracking Data.</p>
        </div>

        <!--
        <div id="checks">
            X-axis:<input type="checkbox" id="xChecked" checked/>
            Y-axis:<input type="checkbox" id="yChecked" checked/>
        </div> -->

        
<!--        <input type="range" id="trajLength" value="3" min="1" max="5" style="width:150px;position:fixed;top:770px;left:50px;"/>-->


        <!-- This is the play button -->
        <button type="button" id="LoadBtn" class="btn btn-lg btn-warning" style = "width: 300px; height:80px">Click to Load Data</button>

        <button type="button" disabled id="playGameBtn" class="btn btn-lg btn-success" style = "width: 300px; height:80px">PLAY</button>
        
        <button type="button" disabled id="roleBtn" class="btn btn-lg btn-success" style = "width: 300px; height:80px">Show Role</button>


        
        <!-- Show retrieved plays button -->
  
<!--        <button type="button" class="btn btn-lg btn-success" id="predictionBtn">PREDICTION</button>-->

        
        <!-- Get the retrieve button -->

<!--        <button type="button" id="retrieveBtn" class="btn btn-lg btn-success">RETRIEVE</button>-->

        <BR />
        <BR />

        <h3>Time Slider:</h3>
        <input type="range" id="timeScrub" value="0" min="0" max="5000" step="1" form="gameSelect"/>
 
        <BR />
        <BR />
        <div id="loading" style = "display:none">
            <img src="{{ url_for('static', filename='loading-icon.gif') }}" alt="Searching" />
        </div>
        <BR />
        

        <script type="text/javascript">
            var FrameData;
            var pause = true;
            var tid = setInterval(updateFrame, 50);
            var index = 0;
            var goal_frame = 1000;
            var role_flag = true;
            
            $(function() {
              $("#playGameBtn").click(function() {
                    pause = !pause;
                    $(this).text(function(i, text){
                            return text === "PLAY" ? "STOP" : "PLAY";
                    })
                    $(this).toggleClass("btn btn-lg btn-warning");
                                      
                  });
             });


            $(function() {
              $("#roleBtn").click(function() {
                          role_flag = !role_flag;
                          $(this).text(function(i, text){
                                       return text === "Show Role" ? "Show ID" : "Show Role";
                                       })
                          $(this).toggleClass("btn btn-lg btn-warning");
                          d3.select("svg").selectAll("circle").remove();
                          d3.select("svg").selectAll("Text").remove();
                          plotPlayerPos(FrameData.Frame[index],role_flag);
                          });
              });
  
             // set interval

             function updateFrame() {
                 if (pause == false){
                     d3.select("svg").selectAll("circle").remove();
                     d3.select("svg").selectAll("Text").remove();
                     plotPlayerPos(FrameData.Frame[index],role_flag);
                     index = index + 1;
                     goal_frame = goal_frame + 1;
                     $('#timeScrub').val(index);
                     if (goal_frame==100){
                         pause = true;
                     }
                 }
             }
        
             function abortTimer() { // to be called when you want to stop the timer
                clearInterval(tid);
             }
             
             
             

            $(function() {
              $("#timeScrub").change(function() {
                        // get current time
                       
                         var inTime = $('#timeScrub').val();
                         index = parseInt(inTime);
                         
                         d3.select("svg").selectAll("circle").remove();
                         d3.select("svg").selectAll("Text").remove();
                         plotPlayerPos(FrameData.Frame[index],role_flag);
                         var maxValue = document.getElementById("timeScrub");
                         maxValue.val = parseInt(inTime)+1;
                         
                    });
              });

        $(function() {
            $("#nextBtn").click(function() {
 
                                var t = $('#timeScrub').val();
                                t = +t + 1;
                                $('#timeScrub').val(t);
                                $("#timeScrub").change();
            });
        });
       
       $(function() {
         $("#LoadBtn").click(function() {
                             $(this).text("Loading...");
                             $("#loading").show();
                             
                             $.ajax({
                                    type: "GET",
                                    url: $SCRIPT_ROOT + "/getInitialData/",
                                    contentType: "application/json; charset=utf-8",
                                    success: function(data) {
                                        FrameData = data;
                                        $("#loading").hide();
                                        $("#shotTable").show();
                                        alert("Data Loaded Successfully");
                                        $("#LoadBtn").text("Data Loaded Successfully!");
                                        $("#LoadBtn").removeClass("btn btn-lg btn-warning").addClass("btn btn-lg btn-success");
                                        $("#playGameBtn").prop("disabled",false);
                                        $("#roleBtn").prop("disabled",false);
                                        d3.select("svg").selectAll("circle").remove();
                                        d3.select("svg").selectAll("Text").remove();
                                        plotPlayerPos(FrameData.Frame[0],role_flag);
                                    
                                    }
                            });
                             
                            
                            
                    });
         });
         

        $(function() {
          $("#retrieveBtn").click(function() {
                                  $.ajax({
                                         type: "POST",
                                         url: $SCRIPT_ROOT + "/retrieveData/",
                                         contentType: "application/json; charset=utf-8",
                                         dataType:"json",
                                         //data: JSON.stringify({ trajLength: $('#trajLength').val(), trajVecHomePG: trajVecHomePG, trajVecHomeSG: trajVecHomeSG, trajVecHomeC: trajVecHomeC, trajVecHomeSF: trajVecHomeSF, trajVecHomePF: trajVecHomePF, trajVecAwayPG: trajVecAwayPG, trajVecAwaySG: trajVecAwaySG, trajVecAwayC: trajVecAwayC, trajVecAwaySF: trajVecAwaySF, trajVecAwayPF: trajVecAwayPF, trajVecBall: trajVecBall }),
                                         success: function(data) {
                                         console.log("Here we will spit back the results");
                                         }
                                         
                                         });
                                  
                                  });
          });
      

            $(function() {
                  $("#predictionBtn").click(function() {
                                  $.ajax({
                                         type: "GET",
                                         url: $SCRIPT_ROOT + "/doPrediction/",
                                         contentType: "application/json; charset=utf-8",
                                         data: { value: "10"},
                                         success: function(data) {
                                         //
                                         console.log("gets to here")
                                         
                                         }
                                 });
                    });
            });
            
            
            $(function() {
            $("#shotBtn1").click(function() {
                     pause = false;
                     index = 1617;
                     d3.select("svg").selectAll("circle").remove();
                     d3.select("svg").selectAll("Text").remove();
                     plotPlayerPos(FrameData.Frame[index],role_flag);
                     goal_frame = 0;
                });
            });

            $(function() {
            $("#shotBtn2").click(function() {
                     pause = false;
                     index = 3569;
                     d3.select("svg").selectAll("circle").remove();
                     d3.select("svg").selectAll("Text").remove();
                     plotPlayerPos(FrameData.Frame[index],role_flag);
                     goal_frame = 0;
                                 
                });
            });

            $(function() {
            $("#shotBtn3").click(function() {
                     pause = false;
                     index = 9934;
                     d3.select("svg").selectAll("circle").remove();
                     d3.select("svg").selectAll("Text").remove();
                     plotPlayerPos(FrameData.Frame[index],role_flag);
                     goal_frame = 0;
                });
            });

<!--            $(function() {-->
<!--            $("#shotBtn4").click(function() {-->
<!--                     pause = false;-->
<!--                     index = 19050;-->
<!--                     d3.select("svg").selectAll("circle").remove();-->
<!--                     d3.select("svg").selectAll("Text").remove();-->
<!--                     plotPlayerPos(FrameData.Frame[index],role_flag);-->
<!--                     goal_frame = 0;-->
<!--                });-->
<!--            });-->

        </script>
        <button type="button" id="nextBtn" class="btn btn-lg btn-success" style = "display:none">Next FRAME</button>
        
<!--        <h3>Shot Events:</h3><h4 id = "shotsTxt"></h4>-->

        <div container id = "shotTable" style="display:none">
        <h3>Shot Events:</h3>
        <table class = "table">
        <thead>
            <tr>
                <th class = "text-center">Index</th>
                <th class = "text-center">Start Timestamp</th>
                <th class = "text-center">Finish Timestamp</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>161.7</td>
                <td>171.7</td>
                <td><button type="button" id="shotBtn1" class="btn btn-lg btn-success">Play Shot</button></td>
            </tr>
            <tr>
                <td>2</td>
                <td>356.9</td>
                <td>366.9</td>
                <td><button type="button" id="shotBtn2" class="btn btn-lg btn-success">Play Shot</button></td>
            </tr>
<!--            <tr>-->
<!--                <td>3</td>-->
<!--                <td>993.4</td>-->
<!--                <td>1003.4</td>-->
<!--                <td><button type="button" id="shotBtn3" class="btn btn-lg btn-success">Play Shot</button></td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td>4</td>-->
<!--                <td>1905.0</td>-->
<!--                <td>1915.0</td>-->
<!--                <td><button type="button" id="shotBtn4" class="btn btn-lg btn-success">Play Shot</button></td>-->
<!--            </tr>-->
        </tbody>
        </table>
        </div>
        
        
        
        </div>

    </body>
    
</html>